<style type="text/css">
	
	html{
		scroll-behavior: smooth;
	}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mulish', sans-serif;
}
.row{margin-left: 0!important; margin-right: 0!important;}
.nav_style{

	background-color: #a29bfe!important;
}
.nav_style a{

	color: white;
}
.main_hader{
	height: 450px;
	width: 100%;
}
.corona-rot img{
animation: gocorona 3s linear infinite;
}
@keyframes gocorona{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}

}
.leftside img{
	animation: heartbeat 5s linear infinite;}
	@keyframes heartbeat{
		0%{
			transform: scale(.75);
		}
		20%{
			transform: scale(1);
		}
		40%{
			transform: scale(.75);
		}
		60%{
			transform: scale(.75);
		}
		100%{
			transform: scale(.75);
		}
	}
	.corona_udate{
		margin: 0 0 30px 0;
	}
.corona_udate h3{
	color: #ff7675;

}
.corona_udate h1{
	font-size: 2rem; 
	text-align: center;
}

.sub_section{
	background-color: #fbfafd;
}
.sub_section p{
	font-size: 14px;
}
.footer-style{
	background-color: #a29bfe!important;

}
.footer-style p{
	margin-bottom: 0!important;
}

#myBtn{
 
	position: fixed;
	bottom: 30px;
	right: 40px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #00A8FF;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}
#myBtn:hover{
	background: #606060;
}
.navbar-toggler{
	border: 1px solid #141ac3;
}
/*responsive*/
@media(max-width: 768px){
	.main_hader{
		height: 700px;
		text-align: center;
	}
	.main_hader h1{
		text-align: center;
		padding: 0;
		width: 100%;
		font-size: 30px;
	}
	.count-style{
		display: inline!important;
	}
	.count-style p{
		text-align: center;
	}
}

</style>